/*main data*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a , .navbar-light .navbar-nav .active>.nav-link , .btn
{
    color: #fff;
    text-decoration: none;
    transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.dark-bg { background-color: #1f1f1f;}
a:hover {text-decoration: none;}

/*progress height bar*/
::-webkit-scrollbar {width: 0;}
#scrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background-color: #00000080;
    z-index: 900;
}
#progressbar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    background-color: #11a7f3;
    z-index: 1000;
}
#progressbar:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #11a7f3;
    filter: blur(5px);
   
    -webkit-filter: blur(5px);
}
#progressbar:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(30px);
    background-color: #11a7f3;
}
/*progress width bar*/
#progress
{
    position: fixed;
    height: 5px;
    background-color: #11a7f3;
    z-index: 9999;
    border-radius: 0;
    display: none;
}

/*start of navbar*/
.navbar-light .navbar-nav .nav-link {color: #f6f6f680;}
nav {border-bottom: solid 1px #b3b3b35d;}
nav .logo img {width: 50%;}
nav .socail li {display: inline; padding:0 10px;}
nav .socail li svg 
{width: 13px; height: 13px; color: #fff;}
.nav-item {padding : 0 10px;}
.navbar-collapse {border-right: solid 1px #b3b3b35d;}
/*end of navbar*/

/*start of header*/
header
{  
    background-image: url(../images/bg-image-31.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.hedaerLayer
{

    width: 100%;
    height: 100%;
    background-color: #3b3a3a99;
}

.headerData h1
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 0.6;
}

.headerData a 
{
    background-color: #fff;
    color: #000;
    font-weight: 300;
    padding: 10px 40px;

}
.headerData span{
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    display: inline-block;
}


.headerData span.fade{
    opacity: 1;

    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.headerData .created 
{
    position: absolute;
    bottom: 2%;
    right: 2%;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
}
/*end of header*/

/*start of about*/
#about .container-fluid
{
    padding: 0;
}
.aboutData .col-lg-4 , .aboutData img 
{
    height: 338px !important;
    width: 100%;
}
.aboutData h4 , .aboutData h3
{
    font-weight: 800;
    color: #1f1f1f;
    font-family: 'Poppins', sans-serif;
 
}
.aboutData h4 span , .aboutData h3 span {color: #11a7f3;}
.aboutData h4 
{
    font-size: 25px;
}

.aboutData
{
    overflow: hidden;
}
.aboutData img
{
    transition: all ease 0.9s;
    -webkit-transition: all ease 0.9s;
    -moz-transition: all ease 0.9s;
    -ms-transition: all ease 0.9s;
    -o-transition: all ease 0.9s;
    
}
.aboutData:hover  img
{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    filter: grayscale(100%);
}
.aboutData li 
{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 3% 0;
}
.aboutData li p
{
    font-size: 14px;
}
.aboutData svg 
{
    width: 10%;
}


/*start of classes section*/
#classes {padding: 8% 0;}
#classes .classesTitle h1 {font-weight: 800; color: #1f1f1f;}
#classes .classesTitle p {color: #787878;}
#classes .classesData {position: relative; overflow: hidden;}
#classes .classesImg img 
{
    transition: transform ease-in-out 0.7s;
    -webkit-transition: transform ease-in-out 0.7s;
    -moz-transition: transform ease-in-out 0.7s;
    -ms-transition: transform ease-in-out 0.7s;
    -o-transition: transform ease-in-out 0.7s;
}
#classes .classesOverlay
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#classes .row .col-lg-4:nth-child(2) .classesOverlay {background-color: #11a7f380;}
#classes .row .col-lg-4:nth-child(3) .classesOverlay {background-color: #f4284180;}
#classes .row .col-lg-4:nth-child(4) .classesOverlay {background-color: #0ee0c980;}
#classes .classesText
{
    position: absolute;
    left: 10%;
    bottom: 10%;
    color: #fff;
}
#classes .classesText h3 {font-weight: 800;}
#classes .classesText p {font-size: 12px;}
#classes .classesData:hover .classesImg img
{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/*end of classes section*/

/*start of qoutes scetion*/
#qoutes{
    background-image: url(../images/bg-image-32.jpg);
    position: relative;
    background-size: 100% 170%; 
    background-position: center;
    height: 450px;
}
.qoutesOverlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f;
    opacity: .5;
}
.qoutesText {    
    position: absolute;
    left: 10%;
    right: 50%;
    top: 35%;
    font-size: 28px;
}
.qoutesText > div p:last-child {font-size: 20px;}
/*end of qoutes section*/
/*all divs*/
.div1
{
    height: 500px;
    background-color: red;
}
/*start of media query*/

/*tablet screens*/
@media screen and (max-width: 769px) {
    #qoutes { height: 400px;}
    .qoutesText {font-size: 22px;}
    .qoutesText {right: 43%;}
}
/*mobil screens*/
@media screen and (max-width: 426px) {
    #progress {display: block;}
    #scrollPath ,#progressbar{ display: none;}
    /*qoutes*/
    #qoutes { height: 300px;}
    .qoutesText {font-size: 18px;}
    .qoutesText {right: 20%;}
  }
  
@media screen and (max-width: 376px) {

}
@media screen and (max-width: 321px) {
        /*qoutes*/
        #qoutes { height: 250px;}
        .qoutesText {font-size: 16px;}
        .qoutesText {right: 10%;}
}